@model  List<Restuarant_Managment_System.RS.Manager>
@{
    ViewBag.Title = "ManagerList";
}

<h2>Manager List</h2>
<style>

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th {
        height: 70px;
    }
</style>

<table class="table-hover">
    <tr>
        <th> Id</th>
        <th>User Name</th>
        <th>Email </th>
        <th> Phone</th>
        <th> Password</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
            {
<tr>
    <th>@item.Id</th>
    <th>@item.Uname</th>
    <th>@item.Email </th>
    <th>@item.Phone</th>
    <th>@item.Pasword</th>
    <th>
        <a href="@Url.Action("ManagerC", new { item.Id,item.Uname,item.Email,item.Phone,item.Pasword})" class="btn btn-success">Edit</a>
        <a href="@Url.Action("Delete",new { item.Id})" class="btn btn-danger">Delete</a>
    </th>
</tr>
            }
</table>